@import "./variables.scss";
@import "./page-common.scss";
* {
  //font-family: "COSTOME PINGFANG", "PingFang SC", "Microsoft YaHei","sans-serif";
  font-family: "COSTOME PINGFANG", "Helvetica Neue", Helvetica, "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background-color: $app-main-background-color;
  color: $app-main-font-color;
  font-feature-settings: "tnum", "tnum";
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: $baseColor;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}