/* 优化滚动条样式 */
// Chrome
::-webkit-scrollbar-track-piece {
    background-color: transparent;
    border-radius: 0;
}
::-webkit-scrollbar-corner{
    display: none;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    outline: 0px solid $app-main-background-color;
    outline-offset: -2px;
    border: 0px solid $app-main-background-color;
    filter: alpha(opacity = 50);
    opacity: 0.5;
}
::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}
.page-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}