
$baseColor: #1ab394;
$pageBg: #f6f6f6;
$menuBg: rgb(182, 207, 238);
$menuHover: #fff;
$base-border-color: #dcdfe6;
$app-main-background-color: #f3f3f4;
$app-main-font-color: #303133;

// :export {
//     baseColor: $baseColor;
//     pageBg: $pageBg;
//     menuBg: $menuBg;
//     menuHover: $menuHover;
// }